* {
    padding: 0%;
    margin: 0%
}

.img-wrapper {
    width: 90vw;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: scroll;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


img {
    width: 200%;
    height: 200%;
}

.pop-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.pop-item {
    border: 2px solid black;
    padding: 1% 2%;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}